.image-div{
    text-align: center;
}
.details-div{
    text-align: center;
    font-size: 16px;
}
#imageFront, #imageBack{
    cursor: pointer;
    height:400px;
    width: 400px;
}
#pokemonDiv{
    padding: 10px;
}
.search-div{
    padding: 50px;
}
.add-div{
    padding: 10px;
    cursor: pointer;
    text-align: center;
}
.carousel-div{
    text-align: center;
    width: 90%;
    background-color: burlywood;
    padding: 10px;
}
.carousel-span{
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.carousel-span img{
    border: 1px solid;
    border-color: bisque;
}

.carousel-span .remove{
    position: absolute;
    top: -80px;
    right: 10px;
    z-index: 100;
}

.error-div{
    padding: 30px;
    text-align: center;
    color: red;
}
